$layout-name: l-page-home;

.#{$layout-name} {
	&__posts {
		@include content;
		flex-direction: column;
		gap: $global-module-size / 2;
		padding-bottom: $global-module-size * 2;
		padding-top: $global-module-size;

		@include breakpoint(1000) {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		.c-post {
			background-color: var(--text-color-3);
			height: 100%;
			padding-bottom: 0;
			position: relative;

			.c-button,
			&__descricao {
				display: none;
			}

			&__image {
				height: 100%;
			}

			&__header {
				background-color: rgba(0, 0, 0, 0.3);
				bottom: 0;
				color: #fff;
				padding: rem(10);
				position: absolute;
				width: 100%;
			}

			&__data,
			&__comentarios {
				color: #fff;
			}
		}
	}

	&__banners-mobile {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: $global-module-size;
		justify-content: center;
		padding-bottom: $global-module-size;

		@include breakpoint(600) {
			flex-direction: row;
		}

		@include breakpoint(1200) {
			display: none;
		}
	}

	&__recents {
		display: none;

		@include breakpoint(600) {
			display: grid;
			gap: $global-module-size / 2;
			grid-template-columns: 1fr 1fr;
		}

		.c-post {
			&__title {
				font-size: rem(16);
			}

			&__categories {
				display: none;
			}
		}
	}

	&__slides {
		background-color: var(--text-color-3);

		.splide__track {
			height: 100%;
		}
	}

	&__posts-two-columns {
		@include breakpoint(800) {
			display: grid;
			grid-template-columns: 1fr 1fr;

			.l-posts {
				height: 100%;

				&:first-child {
					padding-right: $global-module-size / 2;
				}

				&:nth-child(2) {
					padding-left: $global-module-size / 2;
				}
			}
		}
	}

	&__title {
		color: var(--text-color-4);
		font-size: rem(32);
		font-weight: 400;
		padding-bottom: $global-module-size;
	}

	/* 	&__posts-links {
		display: grid;
		margin-bottom: $global-module-size * 2;

		a {
			color: var(--theme-color-1);
			transition: var(--theme-default-transition);

			&:hover,
			&:active,
			&:focus {
				text-decoration: underline;
			}

			h3 {
				font-size: rem(14);
				font-weight: 400;
				line-height: rem(25);
			}
		}
	} */

	&__banner {
		align-items: center;
		display: flex;
		justify-content: center;
		margin-bottom: $global-module-size;
		width: 100%;
	}

	&__video {
		padding: $global-module-size * 2 0;
	}

	&__video-content {
		padding-bottom: 56.25%;
		position: relative;
		width: 100%;

		iframe {
			border: 0;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}
