$layout-name: l-sidebar;

.#{$layout-name} {
	@include breakpoint(1200) {
		padding-left: $global-module-size;
	}

	.c-post {
		margin: 0 auto;
		max-width: rem(320);

		@include breakpoint(500) {
			max-width: none;
		}

		.c-post__descricao,
		.c-button {
			display: none;
		}

		&:not(:first-child) {
			.c-post__title {
				font-size: rem(14);
			}
		}
	}

	.l-banner {
		display: flex;
		max-width: rem(300);
		width: 100%;

		@include breakpoint(600) {
			max-width: none;
		}

		img {
			object-fit: cover;
			width: 100%;
		}
	}

	&__banners {
		display: grid;
		gap: $global-module-size;
		margin-bottom: $global-module-size * 2;
		place-items: center;

		@include breakpoint(800) {
			padding-bottom: $global-module-size * 4;
		}
	}

	@media (min-width: 600px) and (max-width: 1200px) {
		.l-posts__content {
			grid-template-columns: 50% 50%;
			grid-template-rows: auto auto auto;

			.c-post {
				&:first-child {
					grid-column: 1;
					grid-row: 1 / 4;
					padding-right: $global-module-size / 2;
				}

				&:not(:first-child) {
					padding-left: $global-module-size / 2;
				}
			}
		}

		&__banners {
			grid-template-columns: 1fr 1fr;
		}
	}
}
